#!/bin/sh

# Check minimum required env var
if [[ -z "${USERNAME}" ]]; then
  echo "Environment variable \$USERNAME is required, exiting."
  exit 1
fi

echo "ArchiveTeam reddit-grab standalone Alpine container starting as $USERNAME with $CONCURRENCY jobs"

# activate venv
cd reddit-grab
source .venv/bin/activate

# run project
run-pipeline3 pipeline.py --disable-web-server --auto-update --concurrent $CONCURRENCY $USERNAME
